* body{
   background-color: #21205a;
  color: white;
}

nav {
  background-color: #2d2431;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  gap: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 15px;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
  
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #6158a1;
}

tbody tr:nth-child(odd) {
  background: #403c5c;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: left;
}

.modalContainer {
  width: 500px;
  height: 200px;
  border-radius: 12px;
  background-color: rgb(84, 41, 41);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
}

.error {
  font-size: 1000px;
}
.Home{
  text-align: center;
}

.showPage {
  display: grid;
  grid-template-areas:
    "a a a a"
    "b c c c"
    "b c c c";
}

.balance {
  grid-area: a;
  text-align: center;
}
.sort {
  grid-area: b;

}
.sort * {
  margin-bottom: 15px;
}

.transactions {
  grid-area: c;
}
